<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <sales module="sales">
            <groups>
                <tmwidgets>
                    <label>Targeting Mantra</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <tm_api_key>
                            <label>TM API key</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[This secret API key should be added in order to activate widgets and trackingpixel. You are supposed to signup in Targetingmantra to get this secret key. <a href="http://www.targetingmantra.com/signup?source=magento" target="_blank">Click here to signup</a>]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </tm_api_key>
                        <tm_pixel_enable>
                            <label>Enable tracking pixel</label>
                            <sort_order>20</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </tm_pixel_enable>
                        <tm_widgets_enable>
                            <label>Enable Widgets</label>
                            <sort_order>30</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </tm_widgets_enable>
                        <tm_num_products>
                            <label>Max products in each widget</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </tm_num_products>
                        <tm_img_width>
                            <label>Images width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </tm_img_width>
                        <tm_img_height>
                            <label>Images height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </tm_img_height>
                        <tm_multidomain_enable>
                            <label>Multiple domains support</label>
                            <sort_order>70</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </tm_multidomain_enable>
                        <tm_region>
                            <label>Region</label>
                            <comment>Select region of your store</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>tmwidgets/system_config_source_dropdown_values</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </tm_region>
                        <tm_filter_product_price_zero>
                            <label>Display products with price 0</label>
                            <sort_order>90</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </tm_filter_product_price_zero>
                    </fields>
                </tmwidgets>
            </groups>
        </sales>
    </sections>
</config>